<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{{ collection.name }}</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="file:////home/akbar/.qgis2/python/plugins/qgis_resources_sharing/resources/bootstrap/css/bootstrap.css" type="text/css">
    <!-- Javascript -->
    <script src="file:////home/akbar/.qgis2/python/plugins/qgis_resources_sharing/resources/js/jquery.js"></script>
    <script src="file:////home/akbar/.qgis2/python/plugins/qgis_resources_sharing/resources/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h2 class="panel-title">{{ collection.name }}</h2>
      </div>

      <div class="panel-body">
        <blockquote>{{ collection.description }}</blockquote>
        <table class="table">
          <tr>
            <td><b>URL</b></td><td>{{ collection.repository_url }}</td>
          </tr>
          <tr>
            <td><b>Tags</b></td><td>{{ collection.tags }}</td>
          </tr>
          <tr>
            <td><b>Author</b></td><td>{{ collection.author }}</td>
          </tr>
          <tr>
            <td><b>E-mail</b></td><td>{{ collection.author_email }}</td>
          </tr>
        </table>

         {% if collection.preview|length != 0 %}
            <!-- Preview Images -->
          <div id="preview-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              {% for preview in collection.preview %}
                {% if loop.index == 1 %}
                  <li data-target="#preview-carousel"
                      data-slide-to="{{ loop.index - 1 }}" class="active">
                  </li>
                {% else %}
                  <li data-target="#preview-carousel"
                          data-slide-to="{{ loop.index - 1 }}">
                  </li>
                {% endif %}
              {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner"  role="listbox">
              {% for preview in collection.preview %}
                {% if loop.index == 1 %}
                  <div class="item active">
                {% else %}
                  <div class="item">
                {% endif %}
                  <img src="{{ preview }}">
                </div>
              {% endfor %}
            </div> <!-- endof carouse-inner -->

            <!-- Controls -->
            <a class="left carousel-control" href="#preview-carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#preview-carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

          </div> <!-- endof preview-carousel -->
        {% endif %}
      </div>

    </div> <!-- endof panel panel-primary -->
  </body>
</html>
